body {
  font-family:'Times New Roman', Times, serif;
  text-align: center;
  background-image: url("https://img.freepik.com/premium-vector/vector-illustration-blue-confetti-fun-party-background_29865-4336.jpg?w=900");
  background-repeat: no-repeat;
  background-size: cover;
}
 header {
  background-color:#4897e0;
  color: #e00d0d;
  padding: 20px;
}
 ul li a {
  color:rgb(28, 6, 58);
  text-decoration: none;
}
li{
  display: inline;
  margin-right:50px;
}


footer {
  background-color: #4391eb;
  color: #4e0839;
  padding: 10px;
}
 #home img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
 .my_portfolio{
  background-color: antiquewhite;
  padding: 10px;
}
